<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Instagram</title>
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="../static/instagram/style.css">
</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="wrapper">


    <div class="profile-card js-profile-card">
      <div class="profile-card__img">
        <img
          src="{{data.profile_pic_url_hd}}"
          alt="profile card">
      </div>

      <div class="profile-card__cnt js-profile-cnt">
        <div class="profile-card__name">{{data.full_name}} ( {{data.username}} )</div>
        <div class="profile-card__txt"><strong>{{data.biography}}</strong></div>
        <div class="profile-card-loc">
          <span class="profile-card-loc__txt">
            Account Private : {{data.is_private}}
          </span>
        </div>
        <div class="profile-card-inf">
          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title"><a href = "https://www.instagram.com/{{data.username}}/following/" >{{data.edge_followed_by.count}}</a></div>
            <div class="profile-card-inf__txt">Followers</div>
          </div>

          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title"><a href = "https://www.instagram.com/{{data.username}}/followers/" >{{data.edge_follow.count}}</a></div>
            <div class="profile-card-inf__txt">Following</div>
          </div>

          <div class="profile-card-inf__item">
            <div class="profile-card-inf__title">{{data.edge_owner_to_timeline_media.count}}</div>
            <div class="profile-card-inf__txt">Total Post</div>
          </div>
        </div>

        <div class="profile-card-ctr">
          <button class="profile-card__button button--blue js-message-btn"
          {% if data.username == 'Username' %}
            onclick="document.location='https://www.instagram.com/'"
          {% else %}
            onclick="document.location='https://www.instagram.com/{{data.username}}'"
          {% endif %}
        >Display Profile</button>
        </div>
      </div>
    </div>
  </div>

  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
</body>

</html>