<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel="stylesheet" href="../static/login/app.css">
</head>


<body>
    <!-- partial:index.partial.html -->
    <div class="container">
       <section id="formHolder">
          <div class="row">
             <!-- Brand Box -->
             <div class="col-sm-6 brand">
               <a href="http://127.0.0.1:8000/"  class="logo"><img src="../static/home/assets/img/navbar-logos.png" alt="" width="100" height="100"/></a>
                <div class="heading">
                   <h2>SPOTR</h2>
                   <p>Your Right Choice</p>
                </div>
    
                <div class="success-msg">
                   <p>Great! You are one of our members now</p>
                   <a href="#" class="profile">Your Profile</a>
                </div>
             </div>
    
             
             <!-- Form Box -->
             <div class="col-sm-6 form">
              <!-- Signup Form -->
                <div class="signup form-peice">
                    <form method="POST" action = "">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">User Name</label>
                            {{form.username}}
                            <span class="error"></span>
                         </div>
    
                      <div class="form-group">
                         <label for="name">Last Name</label>
                         {{form.first_name}}
                         <span class="error"></span>
                      </div>
                      <div class="form-group">
                         <label for="email">Email Adderss</label>
                         {{form.email}}
                         <span class="error"></span>
                      </div>
    
                      <div class="form-group">
                         <label for="password">Password</label>
                         {{form.password1}}
                         <span class="error"></span>
                      </div>
    
                      <div class="form-group">
                         <label for="passwordCon">Confirm Password</label>
                         {{form.password2}}
                         <span class="error"></span>
                      </div>

                        <div class="CTA">
                           <input type="submit" value="Signup Now" id="submit">
                            <a href="login">I have an account</a>
                            {% if messages %}
                            {% for message in messages %}
                             {{message}}
                            {% endfor %}
                            {% endif %}
                         </div>
                    </form>
                </div><!-- End Signup Form -->
             </div>
          </div>
    
       </section>
    
    
       <footer>
          <p>
             Form made by: BinaryBots
          </p>
       </footer>
    
    </div>
    <!-- partial -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    
    <script src="../static/login/app.js"></script>
    
    </body>
    </html>
    
